<div class="grid grid-cols-6 grid-rows-3 place-items-center gap-6">
  <div class="col-start-2">
    <app-paid-gold-zone />
  </div>
  <div class="col-span-4 place-self-start self-center">
    <app-attack-line-zone />
  </div>
  <div>
    <app-graveyard-zone />
  </div>
  <div>
    <app-deck-zone />
  </div>
  <div class="col-span-4 place-self-start self-center">
    <app-defense-line-zone />
  </div>
  <div>
    <app-exile-zone />
  </div>
  <div><app-gold-reserve-zone /></div>
  <div class="col-span-4 place-self-start self-center">
    <app-support-line-zone />
  </div>
</div>
